# Number of vcpu cores
CPUS=4

# Amount of RAM in MB
# Should be even multiple of 2048
RAM=32768

# Bridge to connect on
BRIDGE=br0

# Name of tap interface to be created
TAP=vmtap0

# Devices to pass to guest
# Use bin/iommu.sh to find relevant IDs
# All non-bridge devices in the same IOMMU group should be passed together
DEVICES=1002:67df,1002:aaf0

# Backing storage for guest data
STORAGE=/dev/hydrogen/windisk

ISO=/home/thuning/downloads/Win10_21H1_EnglishInternational_x64.iso
